@import "tailwindcss";

:root {
	--background: #fefbe2;
	--foreground: #a8a385;
	--text: #554f37;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-text: var(--text);
	--font-sans: var(--font-cormorant-infant), Georgia, "Times New Roman", serif;
	--font-mono: var(--font-geist-mono);
	--font-cormorant: var(--font-cormorant);
	--font-playfair: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--text);
	font-family: var(--font-cormorant-infant), Georgia, "Times New Roman", serif;
}
